.ttlbox__logo {
  margin: 0;
  padding: 20px 0 10px; }
  .ttlbox__logo img {
    width: 24vw;
    max-width: 166px;
    height: auto; }
.ttlbox__ttl {
  margin: 10px 0; }
  .ttlbox__ttl img {
    max-width: 187px;
    width: 50vw;
    height: auto; }
