// Scss Document
$brown: #933c06;
$yellow: #deb406;
$light-yellow: #f4e4b1;
$green: #989833;
$grey: #434345;
$wrap: 94%;

body {
	max-width: 428px;
	margin: auto;
}
a {
	color: #fff;
}
input[type="submit"] {
   -webkit-appearance: none;
}
h2 {
	margin: 20px 0;
	text-align: center;
	font-size: 18px;
}
.t-center {
	text-align: center;
}
.wrap {
	width: 94%;
	margin: auto;
	line-height: 1.6;
}
.bgStamp {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
	background-image: url("../img/bg_02.png");
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	max-width: 428px;
	height: 400px;
	
}
.logobox {
	position: relative;
	width: 100%;
	img {
		width: 16vw;
		padding: 20px;
		max-width: 67px;
		height: auto;
	}
}
.ttlbox {
	text-align: center;
	&__logo {
		margin: -60px 0 0;
		img {
			width: 48vw;
			max-width: 166px;
			height: auto;
		}
	}
	&__ttl {
		margin: 10px 0;
		img {
		}
	}
	&__img {
		img {
			width: 90%;
			max-width: 317px;
			height: auto;
		}
	}
	&__txt {
		font-weight: 600;
		margin: 14px 0;
		line-height: 1.6;
		letter-spacing: .1em;
	}
	&__btn {
		padding: 0 0 20px;
	}
}
.wrapbox {
	padding: 20px 0;
	color: $brown;
}
.intro {
	p {
		margin: 20px 0;
		font-weight: 600;
	}
	&__img {
		margin: 30px auto 0;
		width: 90%;
		img {
			width: 100%;
			height: auto;
		}
	}
}
.method {
	padding: 20px 0;
	p {
				&:first-child {
					margin: 0 0 10px;
					text-align: center;
					font-weight: 600;
				}
		&:nth-child(2) {
			font-size: 14px;
		}
			}
	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0;
		&--img {
			width: 30%;
			img {
				width: 100%;
				height: auto;
			}
		}
		&--txt {
			width: 70%;
			
		}
		
	}
	&__txtbox {
		padding: 0 0 10px;
	}
	.btn {
		width: 100px;
		margin: 10px auto 0;
		text-align: center;
		display: block;
	}
}
.application {
	dl {
		dt {
			padding: 8px 10px;
			background-color: $brown;
			color: #fff;
			font-weight: 600;
			line-height: 1;
		}
		dd {
			padding: 10px 0 20px;
			p {
				text-indent: -1em;
				padding-left: 1em;
				padding-bottom: .5em;
				span {
					padding: .5em 0 0 1em;
					display: block;
					font-size: 14px;
				}
			}
		}
	}
}
// 子ページ
.main {
	&__logo {
		margin: 20px 0;
		text-align: center;
	}
	&__stamp {
		background-color: rgba(0,0,0,.18);
		
		&--box {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			div {
				width: 50%;
				padding: 14px;
				box-sizing: border-box;
				&:nth-child(2) {
					padding: 14px 14px 14px 0;
				}
				img {
					width: 100%;
					height: auto;
				}
				p {
					&:nth-child(2) {
						margin: 10px 0;
						font-size: 14px;
					}
				}
				a {
					font-size: 14px;
					color: $yellow;
				}
			}
			&:nth-child(even) {
				flex-direction: row-reverse;
				div {
					&:nth-child(2) {
						padding: 14px 0 14px 14px;
					}
				}
			}
		}
		&--ttl {
		text-align: center;
			transform: scale(1.05);
			img {
				width: 100%;
				height: auto;
			}
	}
	&--img {
		width: 90%;
		margin: auto;
		padding: 0 0 10px;
		img {
			width: 100%;
			height: auto;
		}
	}
		
	}
	&__btn {
		margin: 20px 0;
			display: flex;
			justify-content: center;
		line-height: 1;
		}
	
}
.stampdeco {
	width: 100%;
	height: auto;
	vertical-align: bottom;
}

// フォーム
.formwrap {
	width: 80%;
	margin: auto;
	.btn {
		max-width: 200px;
	display: block;
	margin: 20px auto;
		text-align: center;
		box-sizing: border-box;
	}
	&__note {
		margin: 20px 0;
		font-size: 14px;
		line-height: 1.6;
	}
	p {
		line-height: 1.6;
	}
	
}
.strong {
	font-size: 18px;
		font-weight: 600;
		margin: 30px 0;
	}
form {
	

input {
	display: block;
	width: 100%;
	margin: 20px auto;
	padding: 14px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
	border: none;
    color: #494D52;
};
input[type="submit"] {
	max-width: 200px;
	display: block;
	margin: auto;
	background-color: $yellow;
	color: $brown;
	line-height: 1;
};
.checkbox {
  display: block;
  position: relative;
  margin: 1em 0;
  padding-left: 28px;
  cursor: pointer;
  user-select: none; /* テキストの選択を防ぐ */
}

/* inputは非表示にする */
.checkbox input {
  display: none;
}
	.checkbox p {
		line-height: 20px;
	}
/* □ */
.checkmark {
  position: absolute;
  top: 0; /* 上からの位置 */
  left: 0;
  height: 20px; /* 大きさ */
  width: 20px; /* 大きさ */
  border: solid 2px #fff; /* 線 */
  border-radius: 4px;
  box-sizing: border-box;
	background-color: #fff;
}
/* ✓ */
.checkmark:after {
  content: "";
  position: absolute;
  left: 4px; /* チェックの位置 */
  top: 1px; /* チェックの位置 */
  width: 6px; /* チェックの大きさ */
  height: 10px; /* チェックの大きさ */
  border: solid $brown;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0; /* 透明にしておく */
}

/* チェックが入ったときの□ */
.checkbox input:checked + .checkmark {
  background: $yellow; /* チェック時の色 */
  border-color: $yellow; /* チェック時の色 */
}

/* チェックが入ったときの✓ */
.checkbox input:checked + .checkmark:after {
  opacity: 1; /* 透明を解除 */
}

input::placeholder {
	color: #BFC4CB;
}
}
.repass {
	margin: 20px 0;
	a {
		color: $yellow;
	}
}
.registration {
	padding: 20px 0;
	border-top: solid 1px #fff;
	p {
		margin: 0 0 10px;
		font-weight: 600;
	}
	.btn {
		color: #fff;
		border: solid 2px #fff;
	}
}
.rule {
	background-color: #fff;
		color: #494D52;
	padding: 10px;
	overflow: scroll;
	border-radius: 5px;
	height: 220px;
	line-height: 1.4;
	a {
		color: $brown;
	}
	li {
		margin: 10px 0;
		font-weight: 600;
		list-style: auto;
		list-style-position: inside;
	}
	p {
		margin: 10px 0 0;
		font-weight: normal;
	}
}
.list {
	li {
		margin: 10px 0;
		font-weight: 600;
		list-style: auto;
		list-style-position: inside;
	}
	p {
		margin: 10px 0 0;
		font-weight: normal;
	}
}
.present {
	text-align: center;
	&__ttl {
		margin: 20px 0;
		font-size: 24px;
		font-weight: 600;
	}
	&__caption {
		font-size: 18px;
		font-weight: 600;
	}
	.btn {
		margin: 10px auto 30px;
		text-align: center;
		min-width: 200px;
		line-height: 1;
	}
	img {
		width: 80%;
		height: auto;
		margin: auto;
	}
}
.applicationarea {
	font-weight: 600;
	margin: 20px 0;
	padding: 20px;
	text-align: center;
	border: solid 2px $yellow;
	border-radius: 5px;
	.btn {
		margin: 10px 0 0;
	}
	p {
		line-height: 1.6;
	}
}